<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<springProperty scope="context" name="serviceName"
		source="spring.application.name" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level [${serviceName:-service-c},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] %logger{40} - %msg %rEx%n
			</Pattern>
		</layout>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>